*{
  color: inherit;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  color: navy;
  background-color: lightsteelblue;
  text-align: center;
  margin: 0;

}

button {
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
  -webkit-transition: 1s;
  transition: 1s;
  background-color: steelblue;
  margin: 5px;
}

a:hover {
  opacity: 0.5;
}

.loadin {
  position: fixed;
  top: -100%;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: powderblue;
  z-index: 2;
  animation: 1.5s ease-in rise;
}

.loadout {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: powderblue;
  z-index: 2;
  animation: 0.5s ease-out fall;
}

.header {
  overflow: visible;
  background-color: transparent;
  position: relative;
  padding: 10px 20px;
  width: 100%;
  float: right;
}

.fullscreen {
  height: 100vh;
  width: 100vw;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.menu{
  position: relative;
  color: lightsteelblue;
  padding: 10px;
  font-size: 15px;
  background-color: navy;
  -webkit-transition: 1s;
  transition: 1s;
}

.menu:hover {
  padding-bottom: 40px;
  background-color: steelblue;
}

.gallery {
  padding: .5vw;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
}

.gallery #campanile {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/4c/Berkeley_tower.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery #content {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  flex-wrap: wrap;
  width: 200px;
}

.component {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  color: lightsteelblue;
  background-color: navy;
  border-radius: 10px;
  width: 300px;
  padding: 50px 20px;
  margin: .5vw;
  justify-content: center;
  align-items:center;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.name {
  color: inherit;
  font-size: 20px;
}
.date {
  color: inherit;
  font-size: 15px;
}

.component:hover {
  color: navy;
  background-color: lightsteelblue;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

img:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.overlay {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  color: lightsteelblue;
  z-index: 2;
}

@keyframes rise {
  from {
    top: 0;
  }
}
@keyframes fall {
  from {
    top: -100%;
  }
}
