<p>Hello!
  <br>
  Welcome to my site! Feel free to look around.
</p>
<p>
  Don't know who I am? My <a href="{{ '/about' | prepend: site.baseurl }}">about page</a> might be helpful.
</p>
<p>
  If you're interested in hiring me, you probably want to look at
  a list of <a href="{{ '/coursework' | prepend: site.baseurl }}">classes I've taken</a>,
  my <a href="{{ '/resume' | prepend: site.baseurl }}">resume (under construction)</a>,
  or my <a href="{{ '/growth' | prepend: site.baseurl }}">highlights (under construction)</a>.
</p>
<p>
  If you want to know what I'm up to recently, please head to my <a href="{{ '/blog' | prepend: site.baseurl }}">blog</a>.
</p>
<p>Enjoy your stay!</p>
