@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');
$content-width: 800px;
$main: #52E892;
$landing-color: #fff;
$background-color: #1A527E;
$background-color-transparent: rgba(26, 82, 126, 0.7);
$background-light: #5EDAD2;
$background-light-transparent: rgba(94, 218, 210, 0.7);
$background-gradient: linear-gradient($background-color, $background-light);
$link-color: $background-color;
$link-hover-color: $main;
$font-style: "VT323", "Lucida Console", Monaco, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-color: #262626;
$heading-font-color: #425469;
$light: #e7edf4;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 3px;
}

.simple,
.simple:visited {
  text-decoration: none;
  font-weight: bold;
  background-image: none;
  transition: none;
}
.simple:hover,
.simple:active {
  color: $main!important;
  text-decoration: none;
  background-size: cover;
}

a,
a:visited {
  color: $link-color;
  text-decoration: none;
  font-weight: bold;
  background-image: linear-gradient(transparent 2px, $link-hover-color 2px, $link-hover-color 4px, transparent 4px);
  background-size: 0% 6px, 100% 6px;
  background-position: 0 bottom, 0 bottom;
  transition: background-size 0.3s ease-in-out;
  background-repeat: no-repeat;
}

a:focus,
a:hover {
  color: $link-hover-color;
  text-decoration: none;
  background-size: 100% 6px;
}
